@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth bg-bg;
    transition: background 0.7s ease;
  }

  :root {
    --c-primary-100: #FCE1DC;
    --c-primary-200: #F7C5BB;
    --c-primary-300: #EF9986;
    --c-primary-400: #DE654A;
    --c-primary-500: #C54022;
    --c-primary-600: #A33016;
    --c-primary-700: #8A260F;

    --c-secondary-100: #FCE8DC;
    --c-secondary-200: #F7D3BC;
    --c-secondary-300: #F0AE86;
    --c-secondary-400: #DE8249;
    --c-secondary-500: #C45F21;
    --c-secondary-600: #A34B15;
    --c-secondary-700: #81380B;

    --c-accent-100: #F7F7F2;
    --c-accent-200: #ECF0D9;
    --c-accent-300: #A3C5A9;
    --c-accent-400: #5D9667;
    --c-accent-500: #3B7544;

    --c-neutral-100: #FAF8F7;
    --c-neutral-200: #E5E3E3;
    --c-neutral-300: #D4CDCC;
    --c-neutral-400: #A39998;
    --c-neutral-500: #736866;
    --c-neutral-600: #524542;
    --c-neutral-700: #40312E;
    --c-neutral-800: #26120E;
    --c-neutral-900: #170602;

    --c-title: var(--c-primary-500);
    --c-text-primary: var(--c-neutral-900);
    --c-text-secondary: var(--c-neutral-600);
    --c-bg: var(--c-neutral-100);
    --c-bg-card: var(--c-neutral-100);
    --c-bg-card-hover: #ffffff;
    --c-border: var(--c-neutral-500);
    --c-text-link: var(--c-primary-500);
    --c-text-link-hover: var(--c-primary-400);
    --c-card-tag-bg: var(--c-secondary-100);
    --c-button-active: var(--c-secondary-400);
    --c-selected: var(--c-neutral-500);
    --c-inline-code-bg: var(--c-neutral-200);
    --shadow-color: 0deg 0% 50%;

    &.dark {
      --c-title: #e6edf2;
      --c-text-primary: #e5e7eb;
      --c-text-secondary: #b5b7bb;
      --c-bg: #222222;
      --c-bg-card: #3b3b3b;
      --c-bg-card-hover: #3b3b3b;
      --c-border: #cacfc9;
      --c-text-link: #ff857f;
      --c-text-link-hover: #ff6a63;
      --c-card-tag-bg: #222222;
      --c-button-active: #cacfc9;
      --c-selected: #cacfc9;
      --c-inline-code-bg: #767975;
      --shadow-color: 0deg 0% 50%;
    }
  }
}

@layer components {
  .header-container {
    @apply mx-3 px-4 sm:mx-12 md:mx-16 lg:mx-auto lg:w-[60rem] xl:w-[72rem] 2xl:w-[75rem];
  }

  .normal-container {
    @apply mx-3 sm:mx-8 md:mx-16 lg:mx-auto lg:w-[44rem] xl:w-[52rem] 2xl:w-[56rem];
  }

  .bg-container {
    @apply relative h-[400px] w-full overflow-hidden;
  }

  .bg-image-container {
    @apply overflow-hidden;
    &::after {
      @apply absolute h-full w-full;
      background-color: rgba(0, 0, 0, 0.06);
      content: '';
    }
  }

  .post-container {
    @apply sm:mx-12 sm:px-4 md:mx-24 lg:mx-auto lg:max-w-[60rem] 2xl:max-w-[72rem];
  }

  .post-card {
    @apply my-shadow flex flex-col overflow-auto rounded-xl bg-bg-card duration-500 lg:flex-row odd:lg:flex-row-reverse;
    &:hover {
      @apply -translate-y-2 bg-bg-card-hover;
    }
  }

  .card-tag-item {
    @apply rounded-2xl px-[.75em] py-[.25em] font-mono bg-bg-card-tag hover:my-shadow;
    &::before {
      @apply mr-1 font-rubik;
      content: '#';
    }
  }

  .archive-card {
    @apply mt-4 flex flex-nowrap overflow-auto rounded-lg bg-bg-card;
    @apply my-shadow;
  }

  .archive-card-detail {
    @apply flex-shrink flex-grow basis-auto p-4;
  }

  .markdown-renderer {
    @apply mx-4 break-words;

    & > :first-child {
      @apply mt-0;
    }

    h2,
    h3,
    h4 {
      @apply tracking-tight;
      &::after {
        @apply relative text-sm opacity-30;
        left: 0.35em;
        color: var(--c-text-secondary);
      }
    }

    h2::after {
      content: 'h1';
    }

    h3::after {
      content: 'h2';
    }

    h4::after {
      content: 'h3';
    }

    hr {
      @apply my-2 h-auto border-none;
      border: none;

      &::before {
        content: '＊＊＊';
        color: var(--c-text-secondary);
        @apply block text-center;
      }
    }

    pre {
      @apply relative overflow-auto p-0;
      &::after {
        @apply pointer-events-none absolute right-4 top-2 select-none text-3xl font-bold uppercase text-bg opacity-40 dark:text-secondary-text;
        content: attr(data-language);
      }
    }

    code:not(.inline-code) {
      @apply block overflow-x-auto px-4 py-3;
    }

    .link {
      @apply text-link no-underline;
      &:hover {
        @apply text-link-hover underline;
      }
    }

    .inline-code {
      @apply m-[0.125rem] inline-block rounded-md bg-gray-300/30 px-1 py-0.5 font-sriracha font-normal;
      background-color: var(--c-inline-code-bg);
      /* color: var(--c-inline-code-text); */
      &::before {
        content: none;
      }
      &::after {
        content: none;
      }
    }
  }
}

@layer utilities {
  .my-shadow {
    box-shadow:
      0px 4px 8px hsl(var(--shadow-color) / 0.08),
      0px 0px 1px hsl(var(--shadow-color) / 0.16);
  }

  .img-dark-filter {
    filter: brightness(0.8) contrast(1.2);
  }
}
